Repository IATI/IATI-Schemas, pull requests merged in 2018-02, with the labels that each got.

#411 Update definition of transaction recipient-region vocabulary-uri att…
  iati-activities-schema.xsd
Labels: Documentation, activity-schema, complete

#413 Update definition of transaction sector vocabulary-uri attribute
  iati-activities-schema.xsd
Labels: Documentation, activity-schema, complete

#410 Add release dates to 2.03 Schemas
  iati-activities-schema.xsd
  iati-common.xsd
  iati-organisations-schema.xsd
Labels: Documentation, activity-schema, complete, org-schema

#412 Fix location ref
  iati-activities-schema.xsd
Labels: Documentation, activity-schema, complete, description text, schema-fix

#414 Update @ref descriptions
  iati-activities-schema.xsd
  iati-common.xsd
Labels: activity-schema, complete, org-schema, schema-fix
